.icon-loading {
    animation: loadingFlicker 2s infinite linear;
}

@keyframes loadingFlicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}